<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-5">
                My²AnimeList
            </h1>
            <h5 class="text-center">
                A minimalist MAL site using
                <span>
                    <a href="https://docs.api.jikan.moe/" target="_blank">
                        Jikan
                    </a>
                </span>
                API for private anime tracking & scheduling
            </h5>
        </div>
    </div>
</div>
