<header class="container-fluid main-header">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>
</header>
<section class="container-fluid main-content">
    <div class="row justify-content-center align-items-center">
        <div class="col-12">
            contentTM
        </div>
    </div>
</section>
<footer class="container-fluid main-footer">
    <div class="row">
        <div class="col-12">
            footer
        </div>
    </div>
</footer>
